

    <!-- Top Nav bar -->
    <nav class="top-nav" id="home">
      <div class="container">
        <div class="row  justify-content-between">
          <div class="col-auto">
            <p>
              <i class='bx bx-envelope'></i>            
                <span>radicemmy@gmail.com</span>
            </p>
            <p>
              <i class='bx bxs-phone-call'></i>
              <span>08074766742</span>
            </p>
          </div>
          <div class="col-auto">
            <div class="social-links">
              <a href="#"><i class='bx bxl-facebook'></i>            
              </a>
              <a href="#"><i class='bx bxl-github'></i>            
              </a>
              <a href="#"><i class='bx bxl-youtube'></i>            
              </a>
              <a href="#"><i class='bx bxl-linkedin'></i>            
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">Climax <span>.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link "href="#">Home</a>

            </li>
            <li class="nav-item">
              <a class="nav-link " href="#about">About Us</a>

            </li>
            <li class="nav-item">
              <a class="nav-link " href="#services">Services</a>

            </li>
          
           
          </ul>

          <a href="#" class="btn btn-brand ms-lg-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Contact Us</a>
        </div>
      </div>
    </nav>

    <!-- Slider -->
    <div class="slider-wrapper owl-carousel owl-theme" id="hero-slider">
      <div class="slide1 min-vh-100 bg-cover d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase text-white">Digital Marketing</h6>  
              <h1 class="display-2 my-3 text-white text-uppercase ">It is a long  <br> established fact </h1>
              <a href="" class="btn btn-brand ">Get Started</a>
              <a href="" class="btn btn-outline-light ms-md-3">Our Work</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide2 min-vh-100 bg-cover d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h6 class="text-uppercase text-white">Networking Bussiness</h6>  
              <h1 class="display-2 my-3 text-white text-uppercase ">It is a long  <br> established fact </h1>
              <a href="" class="btn btn-brand ">Get Started</a>
              <a href="" class="btn btn-outline-light ms-md-3">Our Work</a>
            </div>
          </div>
        </div>
      </div>
      <div class="slide3 min-vh-100 bg-cover d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <!-- <h6 class="text-uppercase text-white">Buy All Recharge Cards</h6>   -->
              <h1 class="display-2 my-3 text-white text-uppercase ">It is easy and secure  <br> Top up anytime </h1>
              <a href="" class="btn btn-brand ">Get Started</a>
              <a href="" class="btn btn-outline-light ms-md-3">Our Work</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- About Us -->
    <section class="container " id="about">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5">
          <div class="row">
            <div class="col-12 info-box">
             <img src="assets/images/features-2.png" alt="">
             <div class="">
               <h5>Digital Marketing</h5>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nobis voluptatem impedit eveniet. Architecto autem reiciendis magni, nisi accusantium sequi?</p>
             </div>
            </div>
            <div class="col-12 info-box">
             <img src="assets/images/features.png" alt="">
             <div class="">
               <h5>Digital Marketing</h5>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nobis voluptatem impedit eveniet. Architecto autem reiciendis magni, nisi accusantium sequi?</p>
             </div>
            </div>
            <div class="col-12 info-box">
             <img src="assets/images/features.png" alt="">
             <div class="">
               <h5>Digital Marketing</h5>
               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A nobis voluptatem impedit eveniet. Architecto autem reiciendis magni, nisi accusantium sequi?</p>
             </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <img style="height: fit-content;" src="assets/images/airtime-young-woman_1408x820.png" alt="">
        </div>
      </div>
    </section>
    <!-- Video -->
    <!-- <div class="col-md-6 col-lg-6 px-5 mb-4">
      <video src="" controls="" width="100%">
        <source src="" type="">
      </video>
    </div> -->

       <!-- Milstone --> 
       <section id="milstone" class="bg-cover">
        <div class="row gy-4 text-center justify-content-center">
         <div class="col-lg-2 col-sm-6">
           <div class="display-4">4546</div>
           <p class="mb-0">Happy Clients</p>
         </div>
         <div class="col-lg-2 col-sm-6">
           <div class="display-4">4546</div>
           <p class="mb-0">Happy Clients</p>
         </div>
         <div class="col-lg-2 col-sm-6">
           <div class="display-4">4546</div>
           <p class="mb-0">Happy Clients</p>
         </div>
         <div class="col-lg-2 col-sm-6">
           <div class="display-4">4546</div>
           <p class="mb-0">Happy Clients</p>
         </div>
       
        </div>
      </section>
       <!-- Milstone --> 
       <section id="services" class="mb-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-12 intro">
          <h6>Our Services</h6>
          <h1>What We Offer</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, fugit ea? Repudiandae quia qui fuga corrupti voluptatum eius, doloribus ducimus? Commodi rerum tenetur repudiandae qui reiciendis perferendis quia, magni soluta.
          </p>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-4 col-sm-6">
          <div class="service-box">
            <img src="assets/images/features.png" style="width: 80px;" alt="">
            <h5>Digital Markerting</h5>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, exercitationem.</p>
            <a href="" class="btn btn-info btn-sm mybtn">Get Started</a>

          </div>
          </div>
          <div class="col-lg-4 col-sm-6">
          <div class="service-box">
            <img src="assets/images/features.png" style="width: 80px;" alt="">
            <h5>Digital Markerting</h5>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, exercitationem.</p>
            <a href="" class="btn btn-info btn-sm mybtn">Get Started</a>

          </div>
          </div>

          <div class="col-lg-4 col-sm-6">
          <div class="service-box">
            <img src="assets/images/features.png" style="width: 80px;" alt="">
            <h5>Digital Markerting</h5>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, exercitationem.</p>
            <a href="" class="btn btn-info btn-sm mybtn">Get Started</a>

          </div>
          </div>
        
        </div>
      </div>
      </section>

      <!-- <section id="team">
       <div class="container">
        <div class="row text-center">
          <div class="col-12 intro">
          <h6>Our Team</h6>
          <h1>Meet Our Crew Members</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, fugit ea? Repudiandae quia qui fuga corrupti voluptatum eius, doloribus ducimus? Commodi rerum tenetur repudiandae qui reiciendis perferendis quia, magni soluta.
          </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="team-member">
           <div class="image-wrapper">
            <img src="assets/images/hero-image.png" alt="">
            <div class="overlay"></div>
            <div class="social-links">
              <a href="#"><i class='bx bxl-facebook'></i>            
              </a>
              <a href="#"><i class='bx bxl-github'></i>            
              </a>
              <a href="#"><i class='bx bxl-youtube'></i>            
              </a>
              <a href="#"><i class='bx bxl-linkedin'></i>            
              </a>
            </div>
           </div>
              <div class="content">
                <h5>MAthew Ewaoche</h5>
                <p>Software developer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
           <div class="image-wrapper">
            <img src="assets/images/hero-image.png" alt="">
            <div class="overlay"></div>
            <div class="social-links">
              <a href="#"><i class='bx bxl-facebook'></i>            
              </a>
              <a href="#"><i class='bx bxl-github'></i>            
              </a>
              <a href="#"><i class='bx bxl-youtube'></i>            
              </a>
              <a href="#"><i class='bx bxl-linkedin'></i>            
              </a>
            </div>
           </div>
              <div class="content">
                <h5>MAthew Ewaoche</h5>
                <p>Software developer</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="team-member">
           <div class="image-wrapper">
            <img src="assets/images/hero-image.png" alt="">
            <div class="overlay"></div>
            <div class="social-links">
              <a href="#"><i class='bx bxl-facebook'></i>            
              </a>
              <a href="#"><i class='bx bxl-github'></i>            
              </a>
              <a href="#"><i class='bx bxl-youtube'></i>            
              </a>
              <a href="#"><i class='bx bxl-linkedin'></i>            
              </a>
            </div>
           </div>
              <div class="content">
                <h5>MAthew Ewaoche</h5>
                <p>Software developer</p>
              </div>
            </div>
          </div>
        </div>
       </div>
      </section> -->


      <!-- REview -->
    <!-- <section id="reviews" class="bg-cover mb-5">
      <div class="owl-carousel owl-theme" id="reviews-slider">
      <div class="review">
        <img src="./assets/images/hero-image.png" alt="">
        <h4>Jonathan Emmy</h4>
        <small>Web Developer</small>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae voluptates sed ipsum modi adipisci iusto ullam. Possimus reprehenderit iure vitae aperiam pariatur eos, magni atque neque, ullam ducimus dolorum qui enim?</p>
      </div>
      <div class="review">
        <img src="./assets/images/hero-image.png" alt="">
        <h4>Jonathan Emmy</h4>
        <small>Web Developer</small>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae voluptates sed ipsum modi adipisci iusto ullam. Possimus reprehenderit iure vitae aperiam pariatur eos, magni atque neque, ullam ducimus dolorum qui enim?</p>
      </div>
      <div class="review">
        <img src="./assets/images/hero-image.png" alt="">
        <h4>Jonathan Emmy</h4>
        <small>Web Developer</small>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae voluptates sed ipsum modi adipisci iusto ullam. Possimus reprehenderit iure vitae aperiam pariatur eos, magni atque neque, ullam ducimus dolorum qui enim?</p>
      </div>
      <div class="review">
        <img src="./assets/images/hero-image.png" alt="">
        <h4>Jonathan Emmy</h4>
        <small>Web Developer</small>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae voluptates sed ipsum modi adipisci iusto ullam. Possimus reprehenderit iure vitae aperiam pariatur eos, magni atque neque, ullam ducimus dolorum qui enim?</p>
      </div>
      </div>

    </section> -->


    <footer>
     <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <a class="navbar-brand" href="#">Climax <span>.</span></a>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt provident dolore explicabo laudantium voluptatem, nulla dicta, at modi similique velit accusamus voluptatum. Repudiandae quod ut, perspiciatis id sed iste hic.</p>
           <div class="social-links">
            <a href="#"><i class='bx bxl-facebook'></i>            
            </a>
            <a href="#"><i class='bx bxl-github'></i>            
            </a>
            <a href="#"><i class='bx bxl-youtube'></i>            
            </a>
            <a href="#"><i class='bx bxl-linkedin'></i>            
            </a>
          </div>
          </div>
        </div>
      </div>
     </div>
     <div class="footer-bottom">
     <div class="container">
       <div class="row">
         <div class="col-12">
          <p class="mb-0">
            copyright@2022. All rights Reserved
          </p>
         </div>
       </div>
     </div>
     </div>
    </footer>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
  
      <div class="modal-body p-0">
      <div class="container-fluid">
   <div class="row ">
    <div class="col-lg-4 bg-cover" style="background-image: url(./assets/images/features.png); min-height: 300px;">
          
    </div>
    <div class="col-lg-8">
      <form action="" class="row p-lg-5 gy-3">
        <div class="col-12">
          <h1>Get in touch</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum provident nam ipsum accusamus labore dignissimos cupiditate ab vitae eligendi assumenda!</p>
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your full name">
        </div>
        <div class="col-lg-6">
            <label for="exampleFormControlInput1" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your phone number">
        </div>
        <div class="col-lg-12">
            <label for="exampleFormControlInput1" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Email">
        </div>
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <textarea name="" id="" cols="30" rows="4" class="form-control" placeholder="Let's do business"></textarea>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-brand" style="margin-right: 5px;">Send Message</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  
   </div>
      </div>
      </div>
    
    </div>
  </div>
</div>
 


<!-- <router-outlet></router-outlet> -->
